.root {
  color: #eaeaf0;
  display: flex;
  height: 22px;
  align-items: center;
}

.active {
  color: #784af4;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
}

.completed {
  color: #784af4;
  z-index: 1;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
