.chevron {
  font-size: 2rem !important;
}

.icon {
  height: 81px;
  padding: 3px;
}

.text {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.name {
  color: var(--main-accent-color);
  font-weight: 800 !important;
  font-size: 22px !important;
}

.listItem {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
